@tailwind base;
@tailwind components;
@tailwind utilities;

.User{
    border: 2px solid #cdcdcd;
    padding: 5px;
    border-radius: 10px;
    background-color: #e7e1e1;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}